# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environment
venv/
env/
.venv/

# Django stuff
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/


# IDE / Editor
.idea/
.vscode/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Env variables
.env
*.env

# Cache
.cache/
